---
	import BaseLayout from '@/layouts/BaseLayout.astro';
	const pageTitle = "Blogs";
---

<BaseLayout title={pageTitle}>
	<div class="w-full mx-10 p-10">
		<h1 class="text-4xl font-semibold text-gray-900">Blogs</h1>
	</div>
</BaseLayout>
